
.hero-img{
    width: 15%;
}
#hero{
    background-color: #1ABC9C;
}
#about{
    background-color: #1ABC9C;
}
#upper-footer{
    background-color: #3A546D;
}
#down-footer{
    background-color: #2C3E50;
}


.line{
    border: 1px solid white;
    width: 90px;
    height: 1px;
}
.line-dark{
    border: 1px solid black;
    width: 90px;
    height: 1px;
}
.card{
    padding: 0;
    width: 25%;

}
.line-light{
    border: 1px solid lightgray;
    width: 100%;
}
.my-btn{
    background-color: #1ABC9C;
    border: 1px solid #1ABC9C;
}